In [1]:
import pandas as pd

In [2]:
pd.read_csv(r"german_credit_data.csv")

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad
...,...,...,...,...,...,...,...,...,...,...,...
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment,good
996,996,40,male,3,own,little,little,3857,30,car,good
997,997,38,male,2,own,little,NaN,804,12,radio/TV,good
998,998,23,male,2,free,little,little,1845,45,radio/TV,bad
999,999,27,male,2,own,moderate,moderate,4576,45,car,good

In [20]:
#Check missing values
df.isnull().sum().sum()

np.int64(577)

In [19]:
print(df.isnull().sum().sum())

577

In [22]:
print("\nData types of each column:")
print(df.dtypes)

Data types of each column:
Unnamed: 0           int64
Age                  int64
Sex                 object
Job                  int64
Housing             object
Saving accounts     object
Checking account    object
Credit amount        int64
Duration             int64
Purpose             object
Risk                object
dtype: object

In [27]:
data = {
    'Loan_ID':[1,2,3,4,5,6,7],
        'Risk':['Good', 'Bad', 'Good','Good','Bad', 'Good', 'Bad']}

In [28]:
df = pd.read_csv(r"german_credit_data.csv")

In [29]:
# Distribution of Risks (Cout)
print("Risk Distribution Cout:")
print(df['Risk'].value_counts())

Risk Distribution Cout:
Risk
good    700
bad     300
Name: count, dtype: int64

In [35]:
print("\nRisk Distribution (Percentage):")
print(df['Risk'].value_counts(normalize=True) *100)

Risk Distribution (Percentage):
Risk
good    70.0
bad     30.0
Name: proportion, dtype: float64

In [9]:
import pandas as pd

In [14]:
df = pd.read_csv(r"german_credit_data.csv")

In [15]:
print(df.columns)

Index(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

In [16]:
mean_age = df['Age'].mean()
median_age = df['Age'].median()
min_age = df['Age'].min()
max_age = df['Age'].max()

In [17]:
print("Mean Age    :", mean_age)
print("Median Age  :", median_age)
print("Minimum Age :", min_age)
print("Maximum Age :", max_age)

Mean Age    : 35.546
Median Age  : 33.0
Minimum Age : 19
Maximum Age : 75

In [18]:
import pandas as pd

In [19]:
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [20]:
df = pd.read_csv(r"german_credit_data.csv")

In [21]:
print(df.columns)

Index(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

In [22]:
credit_by_risk = df.groupby("Risk")["Credit amount"].mean()

In [27]:
print("Average Credit Amount by Risk:")
print(credit_by_risk)

Average Credit Amount by Risk:
Risk
bad     3938.126667
good    2985.457143
Name: Credit amount, dtype: float64

In [28]:
df = pd.read_csv(r"german_credit_data.csv")

In [29]:
housing_risk_table = pd.crosstab(df['Housing'],df['Risk'])
print("Housing vs Risk Table:")
print(housing_risk_table)

Housing vs Risk Table:
Risk     bad  good
Housing
free      44    64
own      186   527
rent      70   109

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"german_credit_data.csv")

In [5]:
job_risk_distribution = df.groupby(['Job', 'Risk']).size().unstack(fill_value=0)

In [6]:
job_risk_distribution['Bad_Risk_%'] = (job_risk_distribution['bad'] / job_risk_distribution.sum(axis=1) * 100)

In [7]:
print("Job distribution with Risk association:\n")
print(job_risk_distribution)

Job distribution with Risk association:

Risk  bad  good  Bad_Risk_%
Job
0       7    15   31.818182
1      56   144   28.000000
2     186   444   29.523810
3      51    97   34.459459

In [8]:
df = pd.read_csv(r"german_credit_data.csv")

In [11]:
savings_risk = pd.crosstab(df['Saving accounts'], df['Risk'], normalize='index') * 100

In [12]:
checking_risk = pd.crosstab(df['Checking account'], df['Risk'], normalize='index') * 100

In [13]:
print("Saving Accounts vs Risk (%):\n", savings_risk)
print("\nChecking Account vs Risk (%):\n", checking_risk)

Saving Accounts vs Risk (%):
 Risk                   bad       good
Saving accounts
little           35.986733  64.013267
moderate         33.009709  66.990291
quite rich       17.460317  82.539683
rich             12.500000  87.500000

Checking Account vs Risk (%):
 Risk                    bad       good
Checking account
little            49.270073  50.729927
moderate          39.033457  60.966543
rich              22.222222  77.777778

In [14]:
df = pd.read_csv(r"german_credit_data.csv")

In [15]:
avg_duration_by_risk = df.groupby('Risk')['Duration'].mean()

In [16]:
print("Average Loan Duration by Risk:\n",avg_duration_by_risk)

Average Loan Duration by Risk:
 Risk
bad     24.860000
good    19.207143
Name: Duration, dtype: float64

In [17]:
purpose_risk = pd.crosstab(df['Purpose'], df['Risk'], normalize='index') * 100

In [18]:
print("Loan Purpose vs Risk (%):\n")
print(purpose_risk)

Loan Purpose vs Risk (%):

Risk                       bad       good
Purpose
business             35.051546  64.948454
car                  31.454006  68.545994
domestic appliances  33.333333  66.666667
education            38.983051  61.016949
furniture/equipment  32.044199  67.955801
radio/TV             22.142857  77.857143
repairs              36.363636  63.636364
vacation/others      41.666667  58.333333

In [19]:
num_vars = df[['Age', 'Credit amount', 'Duration']]

In [20]:
correlation_matrix = num_vars.corr()

In [21]:
print("Correlation between Age, Credit amount, and Duration:\n")
print(correlation_matrix)

Correlation between Age, Credit amount, and Duration:

                    Age  Credit amount  Duration
Age            1.000000       0.032716 -0.036136
Credit amount  0.032716       1.000000  0.624984
Duration      -0.036136       0.624984  1.000000